- add_page_specific_style 'page_bundles/labels'
- select_options = Ai::SelfHostedModel.models.map { |name, _| [name.capitalize, name] }

= gitlab_ui_form_for @self_hosted_model, as: :self_hosted_model, url: url, html: { class: 'label-form js-quick-submit js-requires-input' } do |f|
  = form_errors(@self_hosted_model)

  .form-group
    = f.label :name, _('Name the deployment (must be unique)')
    = f.text_field :name, class: "gl-form-input form-control js-quick-submit", data: { testid: 'self-hosted-model-name-field' }, placeholder: "Mixtral-vllm-deployment"

  .form-group
    = f.label :model
    = f.select :model, options_for_select(select_options, @self_hosted_model.model), {}, { class: 'custom-select gl-form-select', data: { testid: 'self-hosted-model-title-field' } }

  .form-group
    = f.label :endpoint
    = f.text_field :endpoint, class: "gl-form-input form-control js-quick-submit", data: { testid: 'self-hosted-model-endpoint-field' }

  .form-group
    = f.label :api_token, _('API token (if needed)')
    = f.password_field :api_token, class: "gl-form-input form-control js-quick-submit", data: { testid: 'self-hosted-model-api-token-field' }, placeholder: @self_hosted_model.api_token? ? "*************" : nil

  .gl-display-flex.gl-justify-content-space-between
    %div
      - if @self_hosted_model.persisted?
        = f.submit _('Save changes'), class: 'js-save-button gl-mr-2', pajamas_button: true
      - else
        = f.submit _('Create Self-Hosted Model'), class: 'js-save-button gl-mr-2', data: { testid: 'label-create-button' }, pajamas_button: true
      = render Pajamas::ButtonComponent.new(href: back_path) do
        = _('Cancel')
